.one-two {
  color: blue;
}

.two-one {
  color: red;
}

#glam{
  font-size:500%
}

#pic{
  width: 200px;
  height:200px;
}

p{
  text-align: center;
background-color: #586d78;
}

ag{
  font-size: 90px;
}
